<div *ngIf="pictures | async as pList; else loading">
  <div class="row">
    <div class="col-12">
      <a href="https://galleries.page.link/oNn8N">View All Photos</a>
    </div>
  </div>
  <div class="row d-none d-md-flex">
    <div class="col-4" [ngClass]="(i > 2) ? 'mt-5' : ''" *ngFor="let picture of pList; let i = index;">
      <img class="img-scaled" [src]="picture.img"/>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-6" [ngClass]="(i > 1) ? 'mt-5' : ''" *ngFor="let picture of pList; let i = index;">
      <img class="img-scaled" [src]="picture.img"/>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 loading text-center">Loading</div>
  </div>
</ng-template>
