<div *ngIf="(pictures | async); else loading">
  <div class="row">
    <div class="col-12">
      <body>View All Photos at: <a href="https://galleries.page.link/oNn8N">Here!</a></body>
    </div>
  </div>
  <div class="row">
    <div class="col-4" [ngClass]="(i > 2) ? 'mt-5' : ''" *ngFor="let picture of pictures | async; let i = index;">
      <img class="img-scaled" [src]="picture.img"/>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 loading text-center">Loading</div>
  </div>
</ng-template>
