<div class="col-lg-12 mt-lg-0 mt-3">
  <form [formGroup]="plusOneForm">
    <div class="form-row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">First Name:</span>
        </div>
        <input type="text" class="form-control" formControlName="firstNameEdit" placeholder="First Name"
          [value]="this.plusOne.firstName" (input)="this.setFirstName($event.target.value)"
          [ngClass]="{ 'is-valid': !plusOneForm.controls['firstNameEdit'].errors, 'is-invalid': plusOneForm.controls['firstNameEdit'].errors }" />
        <div *ngIf="plusOneForm.controls['firstNameEdit'].hasError('required')" class="invalid-feedback text-left">
          First Name cannot be blank
        </div>
        <div *ngIf="plusOneForm.controls['firstNameEdit'].hasError('pattern')" class="invalid-feedback text-left">
          First Name must start with a capital letter and only contain alphabetical characters
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Last Name:</span>
        </div>
        <input type="text" class="form-control" formControlName="lastNameEdit" placeholder="Last Name"
          [value]="this.plusOne.lastName" (input)="this.setLastName($event.target.value)"
          [ngClass]="{ 'is-valid': !plusOneForm.controls['lastNameEdit'].errors, 'is-invalid': plusOneForm.controls['lastNameEdit'].errors }" />
        <div *ngIf="plusOneForm.controls['lastNameEdit'].hasError('required')" class="invalid-feedback text-left">
          Last Name cannot be blank
        </div>
        <div *ngIf="plusOneForm.controls['lastNameEdit'].hasError('pattern')" class="invalid-feedback text-left">
          Last Name must start with a capital letter and only contain alphabetical characters
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Allergies:</span>
        </div>
        <input type="text" class="form-control" formControlName="allergyEdit"
          placeholder="Allergies (leave blank if not applicable)" [value]="this.plusOne.allergy"
          (input)="this.setAllergy($event.target.value)"
          [ngClass]="{ 'is-valid': !plusOneForm.controls['allergyEdit'].errors, 'is-invalid': plusOneForm.controls['allergyEdit'].errors }" />
        <div *ngIf="plusOneForm.controls['allergyEdit'].hasError('pattern')" class="invalid-feedback text-left">
          Allergies must only contain alphabetical characters
        </div>
      </div>
    </div>
  </form>
</div>