<div class="row">
  <div class="col-md-7 text-center">
    <img src="https://docs.google.com/uc?id=1BZ1C9B-p2x7X4Y6ztpHNG9MmcZN4RhvZ" class="img-scaled-auto">
  </div>
  <div class="col-md-5 mt-2 mt-md-0">
    <div class="col-12 text-center">
      <h5 class="font-italic subheader">
        Please join us for our wedding celebration on
      </h5>
    </div>
    <div class="col-12 text-center">
      <h4 class="font-italic subheader header-purple">
        March 14, 2020
      </h4>
    </div>
    <div class="col-12 text-center">
      <h6 class="font-italic subheader">three thirty in the afternoon</h6>
      <span>&#8226;</span>
    </div>
    <div class="col-12 text-center">
      <h6 class="font-italic subheader">Cocktails, dinner, and dancing to follow</h6>
      <span>&#8226;</span>
    </div>
    <div class="col-12 text-center">
      <h6 class="font-italic subheader">Drury Plaza Hotel Broadview</h6>
      <h6 class="font-italic subheader">400 W Douglas Ave</h6>
      <h6 class="font-italic subheader">Wichita KS 67202</h6>
      <span>&#8226;</span>
    </div>
    <div class="col-12 text-center">
      <h6 class="font-italic subheader">Book your hotel
        <a href="https://www.druryhotels.com/bookandstay/newreservation/?groupno=2409013" target="_blank">here</a>
        to receive our discounted group rate.
      </h6>
    </div>
  </div>
</div>
