<div class="row mx-auto" *ngIf="!loading && !person">
  <div class="col-12 text-center">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter First and Last name" (ngEnter)="searchForPerson()"
        [value]="nameSearchValue" (input)="nameSearchValue = $event.target.value" [ngClass]="{ 'is-invalid': !person && searchError.length, 'is-valid': person && !searchError.length }" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchForPerson()">Search</button>
      </div>
      <div class="invalid-feedback text-left">
        {{ searchError }}
      </div>
    </div>
  </div>
</div>

<div class="loading text-center" *ngIf="loading">Loading</div>

<div class="row mx-auto text-center bg-light" *ngIf="person">
  <div class="col-12">
    <img class="icon icon-med float-right" (click)="clearSearch()" placement="right" ngbTooltip="Close" src="assets/icons/x_icon.png" />
    <h1 class="mb-4 mb-lg-2">
      RSVP Info:
    </h1>
    <div class="text-left">
      <p>
        <b>Name:</b> {{ person.firstName }} {{ person.lastName }}
      </p>
      <p>
        <b>Dinner:</b>
        {{ person.food.name }}
        <button type="button" class="btn btn-link" (click)="openModal(foodModal)">Edit</button>
      </p>
      <p *ngIf="person.hasPlusone">
        <b>Plus One:</b>
        <span *ngIf="person.plusOne">
          {{ person.plusOne.firstName }} {{ person.plusOne.lastName }}
        </span>
        <button type="button" class="btn btn-link d-inline" (click)="openModal(plusOneModalEdit)" *ngIf="person.plusOne">Edit</button>
        <button type="button" class="btn btn-link d-inline" (click)="openConfirmDeleteModal(confirmDeleteModal)" *ngIf="person.plusOne">Delete</button>
        <button type="button" class="btn btn-link" (click)="addNewPlusOne(plusOneModalEdit)" *ngIf="!person.plusOne">Add</button>
      </p>
    </div>
  </div>
</div>

<ng-template #foodModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <div class="col-12 text-center">
      <h3>Edit Dinner</h3>
    </div>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="food-select">Select Dinner:</label>
      </div>
      <select class="custom-select" id="food-select" (change)="this.modalHandler.changeFoodSelection($event.target.value)">
        <option *ngFor="let food of modalHandler.foods index as i" [value]="i" [selected]="food.name === person.food.name">{{
          food.name }}</option>
      </select>
      <div class="col-12 mt-1">{{ person.food.desc }}</div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-danger btn-sm" (click)="d()">Close</button>
    <button type="button" class="btn btn-success btn-sm" (click)="this.modalHandler.savePersonChanges(); c();">Save</button>
  </div>
</ng-template>

<ng-template #confirmDeleteModal let-c="close" let-d="dismiss">
    <div class="modal-header bg-light">
      <div class="col-12 text-center">
        <h5>Are you sure?</h5>
      </div>
    </div>
    <div class="modal-body text-center">
      Remove plus one: <b>{{ person.plusOne.firstName }} {{person.plusOne.lastName }}</b>?
    </div>
    <div class="modal-footer bg-light">
      <button type="button" class="btn btn-danger" (click)="d()">No</button>
      <button type="button" class="btn btn-success" (click)="c();">Yes</button>
    </div>
  </ng-template>

<ng-template #plusOneModalEdit let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <div class="col-12 text-center">
      <h3>Edit Plus One</h3>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">First Name</span>
          </div>
          <input type="text" class="form-control" placeholder="First Name" [value]="this.person.plusOne.firstName"
            (input)="this.person.plusOne.firstName = $event.target.value" [ngClass]="{ 'is-invalid': !this.person.plusOne.firstName.length, 'is-valid': person.plusOne.firstName.length }" />
          <div class="invalid-feedback text-left">
            First Name cannot be blank
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Last Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Last Name" [value]="this.person.plusOne.lastName"
            (input)="this.person.plusOne.lastName = $event.target.value" [ngClass]="{ 'is-invalid': !this.person.plusOne.lastName.length, 'is-valid': this.person.plusOne.lastName.length }" />
          <div class="invalid-feedback text-left">
            Last Name cannot be blank
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="food-p1-select">Select Dinner:</label>
        </div>
        <select class="custom-select" id="food-p1-select" (change)="this.modalHandler.changePlusOneFoodSelection($event.target.value)">
          <option *ngFor="let food of modalHandler.foods index as i" [value]="i" [selected]="food.name === person.plusOne.food.name">{{ food.name }}</option>
        </select>
        <div class="col-12 mt-1">{{ this.person.plusOne.food.desc }}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-danger btn-sm" (click)="d()">Close</button>
    <button type="button" class="btn btn-success btn-sm" (click)="this.modalHandler.savePersonChanges(); c();" [disabled]="!isSaveEnabled()">Save</button>
  </div>
</ng-template>