<div *ngIf="(photos | async); else loading">
  <div class="row border-bottom mt-lg-0 mt-3" *ngFor="let photo of photos | async; let i = index;">
    <div class="col-4 no-padding" *ngIf="i%2==0">
      <img class="img-scaled" [src]="photo.img" />
    </div>
    <div class="col-8 no-padding" *ngIf="i%2==0">
      <p class="ml-lg-3 ml-2">
        {{ photo.desc }}
      </p>
    </div>

    <div class="col-8 no-padding" *ngIf="i%2!=0">
      <p class="ml-lg-0 ml-2">
        {{ photo.desc }}
      </p>
    </div>
    <div class="col-4 no-padding" *ngIf="i%2!=0">
      <img class="img-scaled" [src]="photo.img" />
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 loading text-center">Loading</div>
  </div>
</ng-template>