.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.subheader {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.header-purple {
  color: #cc00ff;
}

.img-sm {
  max-width: 25%;
  max-height: 25%;
}

.img-sm-med {
  max-width: 35%;
  max-height: 35%;
}

.img-med {
  max-width: 50%;
  max-height: 50%;
}

.img-lrg {
  max-width: 75%;
  max-height: 75%;
}

.icon{
  display: inline;
}

.icon:hover{
  cursor: pointer;
}

.icon-middle{
  vertical-align: middle;
}

.icon-ex-sm{
  width: 17px;
}

.icon-sm{
  width: 20px;
}

.icon-sm-med {
  width: 25px;
}

.icon-med{
  width: 30px;
}

.icon-lrg{
  width: 35px;
}

.loading {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.loading:after {
    display: inline-block;
    position: absolute;
    margin-left: .25em;
    content: "";
    vertical-align: bottom;
    animation: ellipsis 1100ms infinite;
    overflow: hidden;

}

@keyframes ellipsis {
  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}