.text-hover {
  color: rgb(33, 30, 31) !important;
}

.text-hover:hover {
  color: #7851a9 !important;
}

a.active {
  color: #7851a9 !important;
}

h1 {
  font-size: xx-large !important;
}

.spaced-font {
  letter-spacing: 0.5rem;
}

h5 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h5 span {
   background:#fff;
   padding:0 10px;
}
