<div class="text-center" *ngIf="plusOnePayload">
  <div class="col-12" *ngIf="partyMembers.length === 0">
    <button type="button" class="btn btn-secondary" (click)="openNewPersonModal(partyMemberModal)">Add Party
      Member</button>
  </div>
  <div class="col-12" *ngIf="partyMembers.length > 0">
    <h4 class="text-center subheader">
      Party Members
      <button type="button" class="btn btn-sm btn-secondary d-inline" (click)="openNewPersonModal(partyMemberModal)">Add Party Member</button>
    </h4>
  </div>
  <div class="col-12 mt-lg-1 mt-4" *ngFor="let pm of partyMembers; index as i">
    <div class="row text-center no-gutters">
      <div class="col-lg-3 bg-light border">
        <span class="subheader d-block"><b>Name:</b></span>
        {{ pm.firstName }} {{ pm.lastName }}
      </div>
      <div class="col-lg-3 bg-light border">
        <span class="subheader d-block"><b>Food Selection:</b></span>
        {{ pm.food.name }}
      </div>
      <div class="col-lg-3 bg-light border">
        <span class="subheader d-block"><b>Allergies:</b></span>
        {{ !pm.hasAllergy ? 'None' : pm.allergy }}
      </div>
      <div class="col-lg-3 bg-light border">
        <button type="button" class="btn btn-sm btn-danger btn-block m-0" (click)="deletePartyMember(i)">Remove</button>
        <button type="button" class="btn btn-sm btn-secondary btn-block m-0"
          (click)="currentPartyMemberClicked(i, partyMemberModal)">Edit</button>
      </div>
    </div>
  </div>
</div>

<ng-template #partyMemberModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalHeader }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-information-editor [plusOne]="this.plusOnePayload" (plusOneOutput)="handlePlusOneOutput($event)"></app-information-editor>
    <app-food-selector [foods]="this.foods" [food]="this.plusOnePayload.food" (selectedFoodIndexOutput)="changePlusOneFoodSelection($event)"></app-food-selector>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-success btn-sm" [disabled]="!canAdd" (click)="modal.close()">Save</button>
  </div>
</ng-template>
