<div class="row">
  <div class="col-12 text-center">
    <img src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201707/balloon-flower-istock-maeterlinck-20170728.png"
      style="max-width: 50rem; max-height: 50rem;">
  </div>
</div>

<div class="row mt-1 mt-md-3">
  <div class="col-12 text-center">
    <h5 class="font-italic subheader">
      Please join us for our wedding celebration on
    </h5>
  </div>
  <div class="col-12 text-center">
    <h4 class="font-italic subheader">
      Next week ;)
    </h4>
  </div>
</div>

<div class="row bg-light mt-3">
  <div class="col-12 text-center">
    <h4 class="mt-5 header header-purple">Our story</h4>
  </div>
  <div class="col-12 col-lg-8 mx-auto mt-3 mb-3">
    Sarah Joy Martin and Ryan Patrick Kruse met during their Junior year at Kansas State University. Both pursuing
    degrees in Computer Science...<b>Sarah finish this</b>
  </div>
  <div class="col-12 col-lg-8 mx-auto">
    In November, during their 2 year anniversary trip to Disney World's Very Magical Christmas Party, Ryan Kruse
    surpised Sarah Martin by proposing.
  </div>
</div>