<!-- Food selection -->
<div class="row text-center" *ngIf="onPage == 0">
  <div class="col-12">
    <h4 class="mb-lg-5 mb-3">Select Food</h4>
    <app-food-selector [foods]="this.foods" [food]="this.person.food" (selectedFoodIndexOutput)="changeFoodSelection($event)"></app-food-selector>
  </div>
</div>

<div class="row text-center" *ngIf="onPage === this.plusOnePage && this.person.hasPlusone">
  <div class="col-12">
    <h4 class="mb-lg-5 mb-3">Add Your +1</h4>
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-3 text-left">
        <!-- Name/Allergy Info-->
        <form [formGroup]="form">
          <!-- First Name-->
          <div class="form-row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">First Name:</span>
              </div>
              <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"
                [value]="this.plusOne.firstName" (input)="this.plusOne.firstName = $event.target.value"
                (ngEnter)="enterKeyPressedOnAddPlusOne()"
                [ngClass]="{ 'is-valid': !form.controls['firstName'].errors, 'is-invalid': form.controls['firstName'].errors }" />
              <div *ngIf="form.controls['firstName'].hasError('required')" class="invalid-feedback text-left">
                First Name cannot be blank
              </div>
              <div *ngIf="form.controls['firstName'].hasError('pattern')" class="invalid-feedback text-left">
                First Name must start with a capital letter and only contain alphabetical characters
              </div>
            </div>
          </div>
          <!-- Last Name -->
          <div class="form-row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Name:</span>
              </div>
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
                [value]="this.plusOne.lastName" (input)="this.plusOne.lastName = $event.target.value"
                (ngEnter)="enterKeyPressedOnAddPlusOne()"
                [ngClass]="{ 'is-valid': !form.controls['lastName'].errors, 'is-invalid': form.controls['lastName'].errors }" />
              <div *ngIf="form.controls['lastName'].hasError('required')" class="invalid-feedback text-left">
                Last Name cannot be blank
              </div>
              <div *ngIf="form.controls['lastName'].hasError('pattern')" class="invalid-feedback text-left">
                Last Name must start with a capital letter and only contain alphabetical characters
              </div>
            </div>
          </div>
          <!-- Allergy -->
          <div class="form-row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Allergies:</span>
              </div>
              <input type="text" class="form-control" formControlName="allergy"
                placeholder="Allergies (leave blank if not applicable)" [value]="this.plusOne.allergy"
                (input)="this.plusOne.allergy = $event.target.value" (ngEnter)="enterKeyPressedOnAddPlusOne()"
                [ngClass]="{ 'is-valid': !form.controls['allergy'].errors, 'is-invalid': form.controls['allergy'].errors }" />
              <div *ngIf="form.controls['allergy'].hasError('pattern')" class="invalid-feedback text-left">
                Allergies must only contain alphabetical characters
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Dinner Selection-->
      <div class="col-lg-6 mt-lg-0 mt-3">
        <app-food-selector [foods]="this.foods" [food]="this.plusOne.food" (selectedFoodIndexOutput)="changePlusOneFoodSelection($event)"></app-food-selector>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="onPage === maxPage">
  <div class="col-12">
    <h4 class="mb-lg-5 mb-3 text-center">Confirm RSVP</h4>
    <div class="row">
      <div class="col-12">
        <div class="row text-center">
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>Name:</b></span>
            {{ person.firstName }} {{ person.lastName }}
          </div>
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>Food Selection:</b></span>
            {{ person.food.name }}
          </div>
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>Allergies:</b></span>
            {{ !person.hasAllergy ? 'None' : person.allergy }}
          </div>
        </div>
      </div>

      <div class="col-12 mt-lg-5 mt-4" *ngIf="person.plusOne">
        <div class="row text-center">
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>(+1) Name:</b></span>
            {{ person.plusOne.firstName }} {{ person.plusOne.lastName }}
          </div>
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>Food Selection:</b></span>
            {{ person.plusOne.food.name }}
          </div>
          <div class="col-lg-4 bg-light border">
            <span class="subheader d-block"><b>Allergies:</b></span>
            {{ !person.plusOne.hasAllergy ? 'None' : person.plusOne.allergy }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Saving Screen -->
<div class="row" *ngIf="onPage > maxPage">
  <div class="col-12 loading text-center">Saving</div>
</div>

<!-- Back/Save buttons -->
<div class="row mt-3">
  <div class="col-12 no-padding" *ngIf="onPage >= 0 && onPage <= maxPage">
    <button type="button" class="btn btn-md btn-success d-inline float-right" (click)="nextPage()" *ngIf="!(onPage == plusOnePage && onPage != maxPage)">{{ nextText }}</button>
    <button type="button" class="btn btn-md btn-danger d-inline float-left" (click)="lastPage()">{{ backText }}</button>

    <button type="button" class="btn btn-md btn-success d-inline float-right ml-lg-2 ml-1" (click)="nextPage()" [disabled]="!form.valid" *ngIf="onPage == plusOnePage && onPage != maxPage">{{ nextText }}</button>
    <button type="button" class="btn btn-md btn-info d-inline float-right" (click)="skipPlusOne()" [disabled]="form.valid" *ngIf="onPage == plusOnePage && onPage != maxPage">Skip</button>
  </div>
</div>
