<div class="row text-center">
  <div class="col-12">
    <h4 class="subheading d-inline">Create RSVP - {{ steps[activeIndex].label }}</h4>
    <span class="float-right clickable" placement="left" ngbTooltip="Close" (click)="closeCreatePage()">&#10005;</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p-steps [model]="steps" [(activeIndex)]="activeIndex"></p-steps>
  </div>
</div>

<!-- Confirm Attendance -->
<div class="row" *ngIf="activeIndex === 0">
  <div class="col-12">
    <h3 class="text-center">Are you able to attend the wedding on March 14, 2020?</h3>
  </div>
</div>

<!-- Select Food -->
<div class="row" *ngIf="activeIndex === 1">
  <div class="col-12">
    <app-food-selector [foods]="this.foods" [food]="this.person.food" (selectedFoodIndexOutput)="changeFoodSelection($event)"></app-food-selector>
  </div>
</div>

<!-- Add +1 -->
<div class="row" *ngIf="activeIndex === 2 && person.hasPlusone">
  <!-- Name/Allergy Info-->
  <div class="col-lg-6 mb-lg-0 mb-3 text-left">
    <app-information-editor [plusOne]="this.plusOne" (plusOneOutput)="handlePlusOneOutput($event)"></app-information-editor>
  </div>
  <!-- Dinner Selection-->
  <div class="col-lg-6 mt-lg-0 mt-3">
    <app-food-selector [foods]="this.foods" [food]="this.plusOne.food" (selectedFoodIndexOutput)="changePlusOneFoodSelection($event)"></app-food-selector>
  </div>
</div>

<!-- Finish without +1 -->
<div class="row" *ngIf="activeIndex === 2 && !person.hasPlusone">
  <div class="col-12">
    <div class="row text-center no-gutters">
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Name:</b></span>
        {{ person.firstName }} {{ person.lastName }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Food Selection:</b></span>
        {{ person.food.name }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Allergies:</b></span>
        {{ !person.hasAllergy ? 'None' : person.allergy }}
      </div>
    </div>
  </div>
</div>

<!-- Finish with +1 -->
<div class="row" *ngIf="activeIndex === 3 && person.hasPlusone">
  <div class="col-12">
    <div class="row text-center no-gutters">
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Name:</b></span>
        {{ person.firstName }} {{ person.lastName }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Food Selection:</b></span>
        {{ person.food.name }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Allergies:</b></span>
        {{ !person.hasAllergy ? 'None' : person.allergy }}
      </div>
    </div>
  </div>

  <div class="col-12 mt-lg-5 mt-4" *ngIf="person.plusOne">
    <div class="row text-center no-gutters">
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>(+1) Name:</b></span>
        {{ person.plusOne.firstName }} {{ person.plusOne.lastName }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Food Selection:</b></span>
        {{ person.plusOne.food.name }}
      </div>
      <div class="col-lg-4 bg-light border">
        <span class="subheader d-block"><b>Allergies:</b></span>
        {{ !person.plusOne.hasAllergy ? 'None' : person.plusOne.allergy }}
      </div>
    </div>
  </div>
</div>

<!-- Saving Screen -->
<div class="row" *ngIf="saving">
  <div class="col-12 loading text-center">Saving</div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <button type="button" class="btn btn-danger float-left" (click)="declineRSVP()" *ngIf="activeIndex === 0">No</button>
    <button type="button" class="btn btn-success float-right" (click)="movePage(1)" *ngIf="activeIndex === 0">Yes</button>

    <button type="button" class="btn btn-danger float-left" (click)="movePage(-1)" [disabled]="activeIndex === 1" *ngIf="activeIndex > 0">Back</button>
    <button type="button" class="btn btn-success float-right" (click)="movePage(1)" [disabled]="isNextButtonDisabled()" *ngIf="activeIndex < steps.length - 1 && activeIndex > 0">Next</button>
    <button type="button" class="btn btn-info float-right" (click)="skipPlusOne()" *ngIf="activeIndex === 2 && person.hasPlusone">Skip</button>
    <button type="button" class="btn btn-success float-right" (click)="finishRSVP()" *ngIf="activeIndex >= steps.length - 1">Finish</button>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
